// Widescreens
@include mediaXl {
  .menu-btn {
    display: none;
  }
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .menu-btn {
    display: none;
  }
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets / Small Laptops
@include mediaMd {
  .menu-desktop {
    display: none;
  }
  main {
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
    .small-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .about-info {
    grid-template-areas:
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  main#home {
    h1 {
      margin-top: 2vh;
      font-size: 3rem;
    }
    .small-heading {
      margin-bottom: 1rem;
    }
    .social-icons {
      margin-top: 0;
    }
  }
  main#about {
    h1 {
      margin-top: 2vh;
      font-size: 3rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
  main#work h1 {
    margin-top: 2vh;
    font-size: 3rem;
  }
  main#contact h1 {
    margin-top: 2vh;
    font-size: 3rem;
  }
  main#home h2 {
    font-size: 1rem;
    a::before {
      content: "\A";
      white-space: pre;
    }
  }
  .menu-desktop {
    display: none;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
